body{
	
	font-family:arial, sans-serif;
	text-align:center;
	

}
*{
	padding:0px;
	margin:0px;
		
}
#div1{
	
	width:100%;
	height:450px;
	background:url(hotel.jpg);
		
	
}

#div2{
	
	background:blue;
	height:100px;
	width:100%;
	line-height:100px;
	opacity:0.8;
	
}
#div2 h1{
	
	float:left;
	font-weight:400;
	color:white;
	cursor:pointer;
	margin-left:7px;
	
}
#div2 ul{
	float:right;	
}
#div2 ul li{
	
	list-style-type:none;
	display:inline-block;
		
}

#div2 ul li a{
	padding:40px;
	text-decoration:none;
	color:white;
	
	
}
#div2 ul li :hover{
	
background:red;
opacity:0.4;	
}

  
  
  
  
  
  
  
  
 
